<!-- 1. extend from base-->
{% extends "base.html" %}

{% block title %}
Upload
{% endblock %}

{% block user_status %}
<a href="{{ url_for('logout') }}" class="btn btn-warning" role="button">Log Out</a>
{% endblock %}

<!-- 2. extend content here from base -->
{% block content %}
<div class="container">

  <form class="form-inline" action="" method="POST" name="preview">
    {{ form.hidden_tag() }}
    <div class="form-group mb-2">
      <label>Webpage name:</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" id="name" name="name" size="20" type="text" value="">
    </div>
    <button type="submit" class="btn btn-success" name="action" value="save">Save</button>
    <button type="submit" class="btn btn-danger" name="action" value="discard">Discard</button>
  </form>
</div>
{% endblock %}