<!-- 1. extend from base-->
{% extends "base.html" %}

{% block title %}
	Upload
{% endblock %}

<!-- 2. extend content here from base -->
{% block content %}
<h1>Web Degen</h1>
<div class="logout">
  <a href="{{ url_for('logout') }}">Log Out</a>
</div>

<div class="main-container">
  <form action="" method="POST" enctype="multipart/form-data" name="upload">
    {{ form.hidden_tag() }}
    <div class="section">
      <p class="login-form-child">
        <h3> Trip name: </h3> 
        {{ form.image(size=120) }}
      </p>
    </div>
    <p>
    	<input type="submit" value="Upload Image">
    </p>
  </form>
</div>

<div class="main-container">
  <h3> Your Saved HTMLs </h3>
  {% for save in saves %}
    <div class="saved-entry">
      {% if save['name'] %} {{ save['name'] }} {% else %} Placeholder name {% endif %}
      --
      {% if save['date'] %} {{ save['date'] }} {% else %} Placeholder date 12/1/2019 {% endif %}
      <!-- TODO: change buttons into onclicks, maybe -->
      <button>
        <a href="{{ url_for('download', value=save['id']) }}">Download</a>
      </button>
      <button>
        <a href="{{ url_for('delete', value=save['id']) }}">Delete</a>
      </button>
    </div>
  {% endfor %}
</div>
{% endblock %}